// ---------- BASE ----------
// GLOBAL
body {
    background-color: $body-bckg;
}
.contents {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}
// LINKS
a {
    display: inline-block;
    text-decoration: none;
}
a, a:active, a:visited {
    color: $main-txt-clr;
}
