// ---------- VARIABLES ----------
// SIZING
$default-size: 16px;
// FONTS
$default-font: 'Rubik', sans-serif;
// PALETTE
$top-bar-bckg: #000;
$main-txt-clr: #fff;
$paragraph-clr: darken($main-txt-clr, 30%);
$highlight: #00ff9d;
$cheesy-clr: #d69501;
$spicy-clr: #db1e1e;
